@import "tailwindcss";

@theme {
  --color-ink: #1c1c1cff;
  --color-plum: #d2a7dc;
  --color-dusty-blue: #5681af;
  --color-viridian: #6b8775;
  --color-dusty-lavender: #aa8cb1;


  --color-primary: var(--color-ink);
  --color-secondary: var(--color-plum);
  --color-accent: var(--color-dusty-blue);

  --font-display: "Segoe UI", Arial, Helvetica, sans-serif;
  --font-mono: "SFMono-Regular", "Consolas", "Liberation Mono", monospace;

}
.dark {

  --color-primary: var(--color-ink);
  --color-secondary: var(--color-plum);
  --color-accent: var(--color-dusty-blue);
}

@layer base {
  html,
  body {
    @apply bg-primary text-secondary font-mono antialiased;
    scroll-behavior: smooth;
    font-feature-settings: "ss01", "cv11";
  }

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
 
  background: #aa8cb1;
  background-image: linear-gradient(#afafaf .1em, transparent .1em), linear-gradient(90deg, #afafaf .1em, transparent .1em);
  background-size: 3em 3em;
}
}


img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none; /* optional — also blocks right-click "save image" */
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
